<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" >
     <link type="text/css" href="{{ 'theme.css' | asset_url }}" rel="stylesheet">
    <title>Shopify </title>
    {{ content_for_header }}
  </head>
  <body>
    <!-- start header -->
    {% section "header" %}
    <!-- end header -->
      <main class="main">
          {{ content_for_layout }}
      </main>
     
  <!-- start footer -->
    {% section 'footer' %}
    <!--  end footer-->
     
  
    

   
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"  defer></script>

   
  </body>
</html>
